.product{
   padding: 20px 0;
}
.slider-wrap{
  position: relative;
  overflow: hidden;
  height: 150px;
  
}
.slider-main{
  position: absolute;
  width: 200%;
}
.item{
  display: inline-block;
  width: 220px;
  height: 150px;
  background-color: rgb(236, 235, 235);
  position: relative;
  border-left: 0.3px gray solid;
}
.text{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #000000;
  font-size: 24px;
  font-weight: bolder;
}

.prev{
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(-50%, -50%);
}
.next{
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(-50%,-50%);
}