<section class="product ">
  <div class="container-fluid">
    <div class="slider-wrap ">
      <div class="slider-main ">
        <div class="item ">
          <div class="text">1</div>
        </div>
        <div class="item">
          <div class="text">2</div>
        </div>
        <div class="item">
          <div class="text">3</div>
        </div>
        <div class="item">
          <div class="text">4</div>
        </div>
        <div class="item">
          <div class="text">5</div>
        </div>
        <div class="item">
          <div class="text">6</div>
        </div>
        <div class="item">
          <div class="text">7</div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="carousel-control-prev carousel-control-prev-icon prev " >Pre</button>
        <button type="button" class="carousel-control-next carousel-control-next-icon next">next</button>
      </div>
    </div>
  </div>
</section>
