  <mat-card>
    
    <mat-card-header>Slogan</mat-card-header>
    <mat-card-content>
        
      <p>Your catchy slogan goes here! Inspire, motivate, and capture attention with a compelling message.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et necessitatibus repellat sed optio quos? Ea fugit 
        explicabo nisi nihil omnis repellendus dicta consequuntur alias voluptates eligendi officiis voluptas, sapiente 
        numquam doloremque, mollitia perspiciatis voluptatem tenetur facere qui earum. 
        Sit quis quibusdam assumenda nihil non magnam provident rerum culpa repellendus tenetur quos voluptate 
        dolores consequatur nam blanditiis quas distinctio, repellat neque veritatis eius omnis? 
        Recusandae fuga animi accusamus iusto illo rem dolor culpa cupiditate totam ad ea, numquam reiciendis aliquid 
        molestiae necessitatibus. Ipsa minima rerum ad voluptate, consequuntur eaque eos dolorem doloribus vitae, 
        unde mollitia est accusamus deserunt, magnam tempore voluptates.
      </p>
    </mat-card-content>
  </mat-card>
